services:
  app:
    build: .
    networks:
      - traefik_default
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.app.rule=Host(`localhost`)"
      - "traefik.http.services.app.loadbalancer.server.port=3000"
    expose:
      - "3000"

networks:
  traefik_default:
    external: true
