@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2093 0.0186 30.3778);
  --card: oklch(0.9769 0.0011 17.1781);
  --card-foreground: oklch(0.2093 0.0186 30.3778);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2093 0.0186 30.3778);
  --primary: oklch(0.6181 0.2309 29.5494);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2093 0.0186 30.3778);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.9247 0.0013 106.4254);
  --muted-foreground: oklch(0.2093 0.0186 30.3778);
  --accent: oklch(0.9388 0.0173 35.3441);
  --accent-foreground: oklch(0.6181 0.2309 29.5494);
  --destructive: oklch(0.855 0.1909 159.1992);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9209 0.0153 17.4356);
  --input: oklch(0.9784 0.0032 17.2128);
  --ring: oklch(0.6169 0.2345 29.1089);
  --chart-1: oklch(0.6181 0.2309 29.5494);
  --chart-2: oklch(0.5169 0.2164 349.0885);
  --chart-3: oklch(0.7089 0.1536 240.9296);
  --chart-4: oklch(0.5589 0.2383 334.3061);
  --chart-5: oklch(0.7946 0.2162 148.9413);
  --sidebar: oklch(0.9769 0.0011 17.1781);
  --sidebar-foreground: oklch(0.2093 0.0186 30.3778);
  --sidebar-primary: oklch(0.6181 0.2309 29.5494);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9388 0.0173 35.3441);
  --sidebar-accent-foreground: oklch(0.6181 0.2309 29.5494);
  --sidebar-border: oklch(0.9212 0.0121 23.7121);
  --sidebar-ring: oklch(0.6169 0.2345 29.1089);
  --font-sans: Capriola, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.575rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 7px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.23;
  --shadow-color: #f2271d;
  --shadow-2xs: 0px 2px 7px -2px hsl(2.8169 89.1213% 53.1373% / 0.12);
  --shadow-xs: 0px 2px 7px -2px hsl(2.8169 89.1213% 53.1373% / 0.12);
  --shadow-sm:
    0px 2px 7px -2px hsl(2.8169 89.1213% 53.1373% / 0.23),
    0px 1px 2px -3px hsl(2.8169 89.1213% 53.1373% / 0.23);
  --shadow:
    0px 2px 7px -2px hsl(2.8169 89.1213% 53.1373% / 0.23),
    0px 1px 2px -3px hsl(2.8169 89.1213% 53.1373% / 0.23);
  --shadow-md:
    0px 2px 7px -2px hsl(2.8169 89.1213% 53.1373% / 0.23),
    0px 2px 4px -3px hsl(2.8169 89.1213% 53.1373% / 0.23);
  --shadow-lg:
    0px 2px 7px -2px hsl(2.8169 89.1213% 53.1373% / 0.23),
    0px 4px 6px -3px hsl(2.8169 89.1213% 53.1373% / 0.23);
  --shadow-xl:
    0px 2px 7px -2px hsl(2.8169 89.1213% 53.1373% / 0.23),
    0px 8px 10px -3px hsl(2.8169 89.1213% 53.1373% / 0.23);
  --shadow-2xl: 0px 2px 7px -2px hsl(2.8169 89.1213% 53.1373% / 0.58);
  --tracking-normal: 0em;
  --spacing: 0.23rem;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(0.9303 0.0032 17.2163);
  --card: oklch(0.2161 0.0061 56.0434);
  --card-foreground: oklch(0.8853 0 0);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(0.9303 0.0032 17.2163);
  --primary: oklch(0.6125 0.236 24.3776);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9582 0.0043 17.2326);
  --secondary-foreground: oklch(0.2032 0.0279 311.9824);
  --muted: oklch(0.209 0 0);
  --muted-foreground: oklch(0.5615 0.0088 27.2789);
  --accent: oklch(0.2038 0.0541 28.3293);
  --accent-foreground: oklch(0.6144 0.2319 29.4653);
  --destructive: oklch(0.855 0.1909 159.1992);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.2674 0.0049 39.4012);
  --input: oklch(0.2924 0.0358 27.6228);
  --ring: oklch(0.6169 0.2345 29.1089);
  --chart-1: oklch(0.6181 0.2309 29.5494);
  --chart-2: oklch(0.5169 0.2164 349.0885);
  --chart-3: oklch(0.7089 0.1536 240.9296);
  --chart-4: oklch(0.5589 0.2383 334.3061);
  --chart-5: oklch(0.7946 0.2162 148.9413);
  --sidebar: oklch(0.2161 0.0061 56.0434);
  --sidebar-foreground: oklch(0.8853 0 0);
  --sidebar-primary: oklch(0.6169 0.2345 29.1089);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2038 0.0541 28.3293);
  --sidebar-accent-foreground: oklch(0.6144 0.2319 29.4653);
  --sidebar-border: oklch(0.3687 0.0273 25.3888);
  --sidebar-ring: oklch(0.6169 0.2345 29.1089);
  --font-sans: Capriola, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.575rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 7px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.23;
  --shadow-color: #f2271d;
  --shadow-2xs: 0px 2px 7px -2px hsl(2.8169 89.1213% 53.1373% / 0.12);
  --shadow-xs: 0px 2px 7px -2px hsl(2.8169 89.1213% 53.1373% / 0.12);
  --shadow-sm:
    0px 2px 7px -2px hsl(2.8169 89.1213% 53.1373% / 0.23),
    0px 1px 2px -3px hsl(2.8169 89.1213% 53.1373% / 0.23);
  --shadow:
    0px 2px 7px -2px hsl(2.8169 89.1213% 53.1373% / 0.23),
    0px 1px 2px -3px hsl(2.8169 89.1213% 53.1373% / 0.23);
  --shadow-md:
    0px 2px 7px -2px hsl(2.8169 89.1213% 53.1373% / 0.23),
    0px 2px 4px -3px hsl(2.8169 89.1213% 53.1373% / 0.23);
  --shadow-lg:
    0px 2px 7px -2px hsl(2.8169 89.1213% 53.1373% / 0.23),
    0px 4px 6px -3px hsl(2.8169 89.1213% 53.1373% / 0.23);
  --shadow-xl:
    0px 2px 7px -2px hsl(2.8169 89.1213% 53.1373% / 0.23),
    0px 8px 10px -3px hsl(2.8169 89.1213% 53.1373% / 0.23);
  --shadow-2xl: 0px 2px 7px -2px hsl(2.8169 89.1213% 53.1373% / 0.58);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
